@model IEnumerable<SafePets.Models.Pet>

@{
    ViewData["Title"] = "Index";
}

<h2>Listagem de Pets</h2>

<p>
    <a asp-action="Create" class="btn btn-dark">Novo Cadastro</a>
    @*<div class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Pesquisar Pets">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Pesquisar</button>
    </div>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Raca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idade)
            </th>
            <th>
               
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Raca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idade)
            </td>
            <td>
                <a asp-action="Edit" class ="btn btn-success" asp-route-id="@item.Id">Editar</a> 
                <a asp-action="Details" class="btn btn-warning" asp-route-id="@item.Id">Detailhes</a>
                <a asp-action="Delete" class=" btn btn-danger" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
